@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/chewy/v18/uK_94ruUb-k-wn52KjI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Finger Paint';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fingerpaint/v21/0QInMXVJ-o-oRn_7dron8YW-9JzT.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  background-image: url("minionek.jpg");
  background-size: cover;      
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;  
  height: 100vh;
  margin: 0;
  cursor: url('banana.png'), auto;
}
 * {
  cursor: url('banana.png'), auto;
}

h1 {
  color: darkblue;
  font-family: Chewy;
  font-size: 60px; 
  text-align: center;
}

@media (min-width: 600px) {
  h1 {
    font-size: 80px; 
  }
  p {
    font-size: 60px;
  }
  .container {
    height: 20%;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30%;
}
p {
  font-family: Finger Paint;
  font-size: 45px;
  color: darkblue;
}

.translator {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    background: rgba(248, 222, 60, 0.5);
    border-radius: 16px;
    padding: 2rem;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
